{% extends 'users/base.html' %}
{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h2>Сокра.тим</h2>
<a href="{% url 'profile' %}">
    <button class="btn btn-outline-success">Кабинет пользователя</button>
</a>
<section class="gallery">
    <h3>Мои сертификаты</h3>
    <div id="slider">
      <div><img src="/pictures/diploma.png" class="img-thumbnail" alt=""></div>
      <div><img src="/pictures/Pyt_Tkinter_Django.png" class="img-thumbnail" alt=""></div>
      <div><img src="/pictures/JavaScript.png" class="img-thumbnail" alt=""></div>
    </div>
    <p>Вы посетили мою страницу уже: {{ num_visits }}{% if num_visits == 1 or num_visits >= 5 %} раз {% else %} раза{% endif %}</p>
  </section>

{% endblock %}